<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <meta charset="UTF-8">
        <title>O MNIE</title>
    </head>
    <body style="background-color: lightgray;">
        <p style="font-size:20px;">Mariusz Zbigniew Pudzianowski (pseudonimy: „Pudzian”, „Dominator”, Pyton, Pudzilla; ur. 7 lutego 1977 w Białej Rawskiej) – polski zawodnik mieszanych sztuk walki (MMA), wcześniej utytułowany strongman i rugbysta.
Ośmiokrotny Mistrz Polski Strongman. Sześciokrotny Mistrz Europy Strongman w latach 2002–2004 i 2007–2009. Pięciokrotny Mistrz Świata Strongman w latach 2002, 2003, 2005, 2007 i 2008. Trzykrotny drużynowy Mistrz Świata Par Strongman w latach 2003–2005. Mistrz Super Serii w sezonach 2003/2004, 2005–2007. Zwycięzca i finalista wielu innych zawodów siłaczy.</p>
        <a class="link" href="/">STRONA GŁÓWNA</a>
    </body>