<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <meta charset="UTF-8">
        <title>KONTAKT</title>
    </head>
    <body style="background-color: lightgray;">
        <h1>KONTAKT</h1>
        <div>
            <p>Szkolna 17 Białystok</p>
            <a href="mailto:wojtekzbombasu@gmail.com">wojtekzbombasu@gmail.com</a>
        </div>
        <a style="line-height: 200%;" href="/">STRONA GŁÓWNA</a>
    </body>